version: "2"

services:
  redis:
    image: metabase/metabase
    restart: always
    volumes:
      - $PWD/metabase-data:/metabase-data
    ports:
      - "3000:3000"
    environment:
      - MB_DB_FILE=/metabase-data/metabase.db
    container_name: matabase
 
